<!DOCTYPE html>
<html>
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- RESET --}}
    {{!-- PROD --}} <link href="/css/reset.css" rel="stylesheet">
    {{!-- LOCAL --}} {{!-- <link rel="stylesheet" type="text/css" href="{{asset "built/local/reset.css"}}"> --}}

    {{!-- FONTS --}}
    <link rel="stylesheet" href="https://use.typekit.net/ioz4ipz.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:700,400">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    {{!-- BASE --}}
    {{!-- PROD --}} <link href="/css/base.css" rel="stylesheet">
    {{!-- LOCAL --}} {{!-- <link rel="stylesheet" type="text/css" href="{{asset "built/local/base.css"}}" /> --}}

    {{!-- BLOG --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/blog.css"}}" />

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

    {{!-- This tag outputs opengraph meta for the index page --}}
    {{{block "opengraph"}}}

</head>
<body class="{{body_class}}" data-note="push3.1">
  {{> "site-nav"}}

  {{{body}}}

  {{> "site-footer"}}

  {{!-- jQuery + Fitvids, which makes all video embeds responsive --}}
  <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
  </script>
  <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>

  {{#if pagination.pages}}
  <script>
      var maxPages = parseInt('{{pagination.pages}}');
  </script>
  <script src="{{asset "js/infinitescroll.js"}}"></script>
  {{/if}}

  <!-- Interface -->
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  {{!-- RESET --}}
  {{!-- PROD --}} <script src="/js/interface.js"></script>
  {{!-- LOCAL --}} {{!-- <script src="{{asset "built/local/interface.js"}}"></script> --}}

  <!-- Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-88487010-1"></script>
  <script>
    if (document.location.hostname.search("www.nonfiction.io") !== -1) {
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-88487010-1');
    }
  </script>

  {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
  {{{block "scripts"}}}

  {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
  {{ghost_foot}}

</body>
</html>
