{{!< default}}

{{#post}}
<main role="main">
  <article class="post-full {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

    <header class="header focus pad-bot-6">
      <div class="container">
        <section class="post-full-tag">
          {{#primary_tag}}
            <h1 class="xs stroke"><a href="{{url}}">{{name}}</a></h1>
          {{/primary_tag}}
        </section>
        <h1 class="xl post-full-title">{{title}}</h1>
        <p>{{excerpt}}</p>
      </div>
    </header>

    {{#if feature_image}}
      <figure class="post-full-image" style="background-image: url({{feature_image}})">
      </figure>
    {{/if}}

    <section class="post-full-content">
      <div class="container">
        {{content}}
      </div>
    </section>


    <section class="post-full-meta focus">
      <div class="container">
        {{#author}}
          <div class="post-published">
            <img class="post-author-img" src="{{profile_image}}" alt="{{name}}" />
            <p class="post-meta-details">
              <span class="post-author-name">{{name}}</strong>
              <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">Posted on {{date format="MMMM D, YYYY"}}</time>
            </p>
          </div>
        {{/author}}
        <div class="post-tags">
          {{tags separator=" &nbsp;"}}
        </div>
      </div>
    </section>

  </article>
</main>

{{!-- Links to Previous/Next posts --}}
<aside class="related-posts focus pad-bot-7">
  <div class="container">
    <div class="post-feed">
      {{#next_post}}
      {{> "post-card"}}
      {{/next_post}}

      {{#prev_post}}
      {{> "post-card"}}
      {{/prev_post}}
    </div>
  </div>
</aside>

{{/post}}
